
.main_theme {
    max-width:1200px ;
    max-height: 400px;
    margin: 0 auto;




}
.avatar_profile {
    display: grid;
    grid-template-columns:1fr 4fr ;

}
.avatar_profile img {
    max-width: 160px;
    min-height: 120px;
}
.avatar_profile .discription{
    opacity: 80%;
}