.dialogs_menu{
    display:grid;


grid-template-columns: repeat(4,1fr);

    grid-column: 1/3;
    grid-row: 1/2;

    grid-area: dm;
}
.peaple{
    grid-area: p;
    grid-column:1/2;
    grid-row:2/2;
    padding:10px ;

}
.messages{
    grid-area: m;
    grid-column: 2/3;
    grid-row:2/3;
    padding:10px ;

}